@import url('clash-display.css');
@import url('general-sans.css');
/* --- Reset CSS --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'GeneralSans-Variable', sans-serif;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}
/* BUTTON ROND */
button {
    cursor: pointer;
}
button {
    border-radius: 1000px;
    font-size: 14px;
    overflow: hidden;
    position: relative;
}
.button_text {
  position: relative;
  z-index: 2;
  transition: color 0.3s ease;
}

.button_filler {
  position: absolute;
  top: -50%;
  left: -25%;
  width: 150%;
  height: 200%;
  border-radius: 50%;
  background: var(--fillerColor);
  transform: translate3d(0, 75%, 0);
  z-index: 1;
}

/* Spécifique à ton bouton "close" */
.close, .menu {
  --baseColor: #222;
  --fillerColor: #455CE9;
  --hoverTextColor: #ffffff;
}

/* Animations */

.hover-in .button_filler {
  animation: fillerHoverIn 0.8s forwards;
}
.hover-out .button_filler {
  animation: fillerHoverOut 0.8s forwards;
}

/* Keyframes */
@keyframes textHoverIn {
  0% {
    opacity: 0;
  }
  1% {
    transform: translateY(-100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    color: var(--hoverTextColor);
  }
}

@keyframes textHoverOut {
  0% {
    opacity: 0;
  }
  1% {
    transform: translateY(100%);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fillerHoverIn {
  0% {
    transform: translate3d(0, 75%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fillerHoverOut {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -75%, 0);
  }
}
/* FIN BUTTON ROND */
/* Lien effect souligner */
a#underline {
  position: relative;
}
a#underline::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}
a#underline:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
a#underline:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
}
/* FIN Lien effect souligner */
/* CSS PORTFOLIO */

/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    height: 120px;
    width: 100%;
    z-index: 1;
}
header .logo span {
  font-weight: 500;
  color: #fff;
}
.container_nav_home nav ul {
  display: flex;
}
.container_nav_home nav ul li:not(:last-child) {
  margin-right: 20px;
}
.container_nav_home nav ul li a {
  font-weight: 500;
  color: #fff;
}
.container_bouton_header {
  position: fixed;
  top: 25px;
  right: 4%;
  z-index: 100;
  transform: scale(0); /* invisible au départ */
  opacity: 0;
  transition: all 0.2s ease;
  pointer-events: none; /* pas cliquable au départ */
}
.container_bouton_header button.menu {
    height: 100px;
    width: 100px;
    background-color: #1c1d20;
    color: #fff;
    border-radius: 1000px;
    position: relative;
}
button.menu .button_text {
  font-weight: 500;
  font-size: 16px;
}

/* FIN HEADER */
/* NAV */
.container_nav_header .logo span {
  font-weight: 500;
}
.container_nav_header button.close {
    height: 100px;
    width: 100px;
    background-color: #455CE9;
    color: #fff;
    border-radius: 1000px;
    overflow: hidden;
    position: relative;
    will-change: transform;
    transform: translateZ(0);
}
.container_nav_header button.close .button_text {
  font-weight: 500;
  font-size: 16px;
}

.container_nav .socials {
	position: absolute;
	bottom: 40px;
	left: 5%;
}

.container_nav .socials ul {
  display: flex;
    align-items: flex-end; /* <— autorise les <a> à bouger verticalement */
  overflow: hidden; 
}

.container_nav .socials ul li a {
  display: inline-block;
	text-transform: uppercase;
	letter-spacing: 0px;
  font-weight: 500;
  color: #1c1d20;
}

.container_nav .socials ul li a#underline::after {
	background-color: #1C1D20;
}

.container_nav .socials ul li:not(:last-child) {
    margin-right: 40px;
}

.container_nav {
	position: fixed;
	left: -100%;
	width: 100%;
	height: 100vh;
	background: #fff;
  padding: 25px 4% 25px 5%;
  z-index: 1000;
}

.container_nav_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
	position: relative;
}

.menu__item-link {
	display: inline-block;
	cursor: pointer;
	position: relative;
	transition: opacity 0.4s;
  font-weight: 500;
}

.menu__item-link::before {
	all: initial;
	counter-increment: menu;
	position: absolute;
	bottom: 60%;
	left: 0;
	pointer-events: none;
}

.menu__item-link:hover {
	transition-duration: 0.1s;
	opacity: 0;
}

.menu__item-img {
	z-index: 2;
	pointer-events: none;
	position: absolute;
	height: 12vh;
	max-height: 600px;
	opacity: 0;
	left: 8%;
	top: 10%;
	transform: scale(0);
}

.menu__item-link:hover + .menu__item-img {
	opacity: 1;
	transform: scale(1);
	transition: all 0.4s;
}

.container_menu {
	--offset: 20vw;
	--move-initial: calc(-25% + var(--offset));
	--move-final: calc(-50% + var(--offset));
}

.marquee {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: rgb(214, 214, 214);
	pointer-events: none;
}

.marquee__inner {
	width: fit-content;
	display: flex;
	position: relative;
	opacity: 0;
	transition: all 0.1s;
	transform: translateX(60px);
}

.menu__item-link:hover ~ .marquee .marquee__inner {
	opacity: 1;
	transform: translateX(0px);
	transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
	white-space: nowrap;
	font-size: max(5rem, 5vw);
	line-height: 1.15;
}

.marquee span {
	font-style: italic;
}
/* FIN NAV */
/* MAIN */
main {
  width: 100%;
}
/* HOME */
section#home {
  width: 100%;
}
.container_home {
  position: relative;
}
.container_home_image {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #6F6B63, #B2ACA1);

}
.container_home_image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container_home_element {
  position: absolute;
  bottom: 1vw;
  left: 0;
  width: 100%;
}
.container_home_element .wrapper {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: hidden;
}
.container_home_element .name_wrap {
  white-space: nowrap;
}
.container_home_element .name_wrap h1 {
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-size: max(9em, 15vw);
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin: 0;
  display: inline-block;
}
.container_home_element .spacer {
  padding: 0 3vw;
}

/* FIN HOME */
/* WORK */
section#work {
  width: 100%;
  padding: 50px 5%;
}
.container_work_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_work_header_title h2 {
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-size: 70px;
  font-weight: 500;
}
.contaier_work_header_display {
  width: 110px;
  display: flex;
  justify-content: space-between;
}
.contaier_work_header_display button {
  width: 50px;
  height: 50px;
  border: 1px solid #dfdfdf;
}

.container_work_content {
  margin-top: 30px;
  /* ajoute apres en fonction des bouton disposition les template pour display grid */
  width: 100%;
}
.work_template:not(:last-child) {
  margin-bottom: 45px;
}
.work_template_image_more {
  display: flex;
  position: relative;
  overflow: hidden;
}
.work_template_image {
  width: 100%;
}
.work_template_image img {
  width: 100%;
  transition: .3s;
}
.work_template_image_more:hover img {
    transform: scale(1.05);
}
.work_template_more {
  position: absolute;
  padding: 20px 30px;
  width: 100%;
  pointer-events: none; /* important ! laisse passer les clics */
  cursor: pointer;
}
.work_template_more a.code {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  padding: 7.5px 15px;
  border-radius: 50px;
}
.work_template_more a.code span {
  margin-left: 5px;
  font-size: 10px;
  font-weight: 500;
}
.work_template_more a.view{
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
}
.work_template_image_more:hover .work_template_more a.view{
  display: block;
}
.work_template_more a.view svg {
  height: 49px;
  width: 49px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* important ! laisse passer les clics */
    cursor: pointer;
}
/* hover sur le conteneur : overlay + icônes apparaissent */
.work_template_image_more:hover .overlay {
    opacity: 1;
}

/* effet zoom image */

.work_template_info {
  margin-top: 20px;
}
.work_template_info_header {
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.work_template_info_header_title h3 {
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.typeANDdate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5px;
}
.typeANDdate h4 {
  font-weight: 500;
  font-size: 12px;
}
.technology p {
  font-weight: 500;
  color: #8D8E8F;
  font-size: 12px;
}
/* FIN WORK */
/* FOOTER */
.container_footer {
  background-color: #1C1D20;
  padding: 50px 5%;
}
.container_footer_header {
  display: flex;
  align-items: center;
}
.container_footer_header .image {
  height: 30px;
  width: 30px;
}
.container_footer_header .image img {
  width: 100%;
  height: 100%;
}
.container_footer_header .text {
  margin-left: 10px;
}
.container_footer_header .text h2 {
  font-family: 'ClashDisplay-Variable', sans-serif;
  font-size: 34px;
  font-weight: 500;
  color: #fff;
}
.container_button {
  display: flex;
  margin: 40px 0 30px;
}
.container_button button {
  border: 1px solid #48494C;
  width: 220px;
  height: 50px;
  color: #fff;
}
.container_button button:first-child {
  margin-right: 10px;
}
.container_button button .button_filler {
  background-color: #455CE9;
}
.container_footer_edition_socials {
  padding-top: 10px;
  border-top: 1px solid #48494C;
  display: flex;
  justify-content: space-between;
}
.container_footer_edition_socials .edition .title h4 {
  color: #8B8C8D;
  font-size: 14px;
  font-weight: 500;
}
.container_footer_edition_socials .edition .info span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.container_footer_edition_socials .socials .title h4 {
  color: #8B8C8D;
  font-size: 14px;
  font-weight: 500;
}
.container_footer_edition_socials .socials ul {
  display: flex;
}
.container_footer_edition_socials .socials ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.container_footer_edition_socials .socials ul li a#underline::after {
  height: 2px;
}
.container_footer_edition_socials .socials ul li:not(:last-child) {
  margin-right: 10px;
}
/* FIN FOOTER */
/*test*/


